[submodule "src/glm-master"]
	path = src/glm-master
	url = https://github.com/g-truc/glm.git
[submodule "src/lodepng-master"]
	path = src/lodepng-master
	url = https://github.com/lvandeve/lodepng.git
